.header{

    background-color: rgb(202, 241, 241);
    background-size: initial;
}
h1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
h2{
    color: dimgrey;
    font-style: italic ;
}
.disc{
    color: mediumpurple;
}
.form{
    background-color: darkcyan;
}