.header{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(23, 78, 80);
}
h1{
    color: lightcoral;
    font-size: 40px;
}
h2{
    color: mediumslateblue;
    font-size: 20px;
}
#body-wrap{
    width: 800;
    margin: 0 auto ;
}
.info{
    background-color: mediumturquoise;
    margin: auto;
    padding-left: 10px brown;
    padding-top: 10px brown;
    border-left: mediumvioletred 10px;
    border-top: mediumvioletred 10px;
    margin: 20px brown ;
}